# Python bytecode
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

.env
*.yml

# Python bytecode
*.pyc
*.pyo
*.pyd

# Bytecode cache directories
__pycache__/

# (Optional) Ignore all Python cache files anywhere
**/__pycache__/
